.fade-out{
    -webkit-animation: animation-name: fade-out;
   -webkit-animation: fade-out 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fade-out 2s; /* Firefox < 16 */
        -ms-animation: fade-out 2s; /* Internet Explorer */
         -o-animation: fade-out 2s; /* Opera < 12.1 */
            animation: fade-out 2s;
}
.fade-in{
    -webkit-animation: animation-name: fade-in;
   -webkit-animation: fade-in 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fade-in 3s; /* Firefox < 16 */
        -ms-animation: fade-in 3s; /* Internet Explorer */
         -o-animation: fade-in 3s; /* Opera < 12.1 */
            animation: fade-in 3s;
}

@keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes fade-out {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fade-out {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fade-out {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fade-out {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}
]@-o-keyframes fade-out {
    from { opacity: 1; }
    to   { opacity: 0; }
}
* {
      touch-action: manipulation;
	/*box-sizing: border-box;*/
}

@media (prefers-color-scheme: dark) {

input:focus {
background-color: grey;
color:black;
}
textarea:focus {
  background-color: grey;
color:black;
}
  body {
    background-color: #333333;
  }
  .title {
    color: whitesmoke;
  }
table{
background-color: #333333;
border:1px solid grey;
}
.myButtonsBorder{
border:none;
}
button, select{
border: 1px solid grey;
border-radius:5px;
}
input{
background-color: #333333;
    color: white;
border: 1px solid #f2f2f2;
}
}
@media (prefers-color-scheme: light) {
button, select{
border: 1px solid black;
border-radius:5px;
}
 
input:focus {
  background-color: #ccffcc;
color: #737373;
}
textarea:focus {
  background-color: #ccffcc;
}
.myButtonsBorder{
border:none;
}
body {
  background-color: #ffffff;
}
table{
border:1px solid black;
}

input{
color: #737373;
}
}

/*========= Sticky Header ==========*/

date:focus {
  background-color: #ccffcc;}

button{
	height:50px;
	width:100%;
	color: white;
	font-size: 24px;
}
.TabButton{
	padding:0;
	width:25%;
	border-radius:none;
	background-color:grey;
	outline: none;
	float:left;
	color:white;
	font-size:20px;
	text-align:center;
}
.myCheckbox{
	width:30px;
	height:30px;=
}
.small_br{
	display: block; /* makes it have a width */
	content: ""; /* clears default height */
	margin-top: 7px; /* change this to whatever height
}
